@import "tailwindcss";


.button{
  display: inline-grid;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 5px;
  width: 150px;
  margin: 15px 5px ;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: rgb(31,41,55);
  overflow: hidden;
}
h1 {
  font-family: "Phudu Medium", sans-serif;
}

